body{
	padding: 0px;
	font-family: sans-serif;
}
.banner{
	display: none;
}
h3{
	text-align: center;
}
#navigation_basic{
	display: block;
	width: 100%;
	height: 39px;
	border: 1px solid black;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	background-color: white;
}
#navigation_basic li{
	display: inline-block;
	font-size: 20px;
	border: 2px solid black;
	float: left;
	margin: 5px 0px 5px 10px;
	padding: 2px 1px;
}
#navigation_basic li:nth-child(even){
	float: right;
	margin: 5px 10px 5px 0px;
}

#page{
	margin-top: 41px;
}

#mezicas_form{
	position: fixed;
	right: 190px;
	top: 44px;
	width: 120px;
	background-color: white;
	z-index: 1000000;
}
#mezicas_formStartlist{
	position: fixed;
	right: 0px;
	top: 0px;
	margin-top: 44px;
	height: 90%;
	overflow: auto;
	width: 190px;
	border-left: 1px dotted black;
	z-index: 1000000;
}
#mezicas_formStartlist table{
	font-size: 12px;
}
#mezicas_form h2{
	text-align: center;
	font-size: 13px;
	margin: 0px 0px 5px 0px;
}
#mezicas_form .div_form_box{
	margin: 5px 0px 11px 0px;
}
#mezicas_form .div_form_box label{
	display: block;
	font-size: 11px;
}
#mezicas_form .div_form_box input{
	width: 100%;
	font-size: 11px;
}
#mezicas_form .div_form_box select{
	width: 100%;
	font-size: 11px;
}
#mezicas_form .input_now{
	width: 50px;
	height: 0px;
	margin: 36px auto 0px auto;
	display: block;
	border-radius: 100%;
	border: 2px solid black;
	vertical-align: middle;
	font-size: 20px;
	padding: 15px 0px 33px 0px;
	text-align:center;
}

#subpage{
	#margin-right: 120px;
}

#mezicasy_tabulka{
	width: 100%;
	border-collapse: collapse;
	font-size: 13px;
}
#mezicasy_tabulka th{
	font-size: 10px;
}
#mezicasy_tabulka tr:nth-child(even){
	background-color: silver;
}
#mezicasy_tabulka .poradi{
	width: 30px;
}
#mezicasy_tabulka .stCislo{
	width: 40px;
}
#mezicasy_tabulka .jmeno{
	width: 130px;
}
#mezicasy_tabulka .cas{
	text-align: right;
}
#mezicasy_tabulka #lastNumberAdded{
	background-color: gray;
}
.mezicasNumberAll{
	text-align: center;	
}
.mezicasNumber{
	margin: 0px 10px;
}
#nextNumber{
	width: 100%;
	padding: 4px 0px;
	font-size: 12px;
	text-align: center;
}
#previousNumber{
	width: 100%;
	padding: 4px 0px;
	font-size: 12px;
	text-align: center;
}
#loading{
	display: none;
	position: fixed;
	top: 55px;
	left: 55px;	
	width: 75px;
	height: 75px;
	z-index: 1;
	background-repeat: no-repeat;
}
#startList_navigation li{
	display: inline-block;
	border: 2px solid black;
	padding: 2px;
	margin: 4px 10px;
}
.formular {
	display: block;
	margin: 3px 0px;
	padding: 7px 0px;
	border-bottom: 1px dotted black;
}
.formular label {
	min-width: 190px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}
.form_text_input{
	width: 150px;
}
#sequence{
	width: 30px;
}
.start_po{
	display: inline-block;
}
.button{
	padding: 4px;
	border: 2px solid black;
	display: inline-block;
	margin: 10px 0px 10px 45px
}
#start_list_table{
	width: 100%;
	border-collapse: collapse;
}
#start_list_table th{
	border-bottom: 1px solid black;
}
#start_list_table tr{
	padding: 2px 0px;	
}
.table_number{
	max-width: 55px;
	text-align: right;
	padding-right: 2px;
}
#start_list_table .sudy{
	background-color: silver;
}
.table_category{
	max-width: 75px;
	text-align: center;
}
.table_cas{
	max-width: 140px;
	text-align: center;
}
.table_odstranit{
	width: 15px;
	text-align: right;
}
#pageWrapper{
	margin-right: 335px;
}
#open_close{
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-radius: 5px;
	position: absolute;
	width: 25px;
	padding: 15px 8px 15px 3px;
	top: 210px;
	right: 304px;
}